<html>
    {% include 'header.html' %}
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="h1">登録画面</h1>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-12">
                <span style="color:red">{{ result }}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
                <form action="regist" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-xs-1 control-label">備品名</label>
                        <div class="form-inline">
                            <div class="col-xs-5 input-group">
                                <input type="text" id="itemName" class="form-control" placeholder="例）mac book air">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="datepicker-default">
                        <label class="col-xs-1 control-label">購入日</label>
                        <div class="form-inline">
                            <div class="col-xs-2 input-group date">
                                <input type="text" id="purchaseDate" class="form-control datepicker" placeholder="例）2017/01/01">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-1 control-label">購入者</label>
                        <div class="form-inline">
                            <div class="col-xs-5 input-group">
                                <input type="text" id="buyer" class="form-control" placeholder="例）山田 太郎">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-1 control-label">ジャンル</label>
                        <div class="form-inline">
                            <select class="form-control" id="jungle">
                                <option>端末</option>
                                <option>書籍</option>
                                <option>その他</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-1 control-label">メモ</label>
                        <div class="form-inline">
                            <div class="col-xs-5 input-group">
                                <textarea id="memo" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="col-xs-5 col-xs-offset-1">
                        <button type="submit" class="btn btn-primary btn-block">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $('#datepicker-default .date').datepicker({
                language: 'ja',
                format: 'yyyy/mm/dd'
            });
        });
    </script>
</body>
</html>