<div class="row">
    <div class="col-xs-4 col-xs-offset-3">
        <h1 class="h1">検索画面</h1>
    </div>
</div>
<br>
<form action="search" methos="GET">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="form-group">
                <label class="control-label">備品名</label>
                <div class="input-group">
                    <input type="text" id="name" name="itemName" class="form-control" value="{{ item_name }}" placeholder="例）　mac book air">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <button type="submit" class="btn btn-primary btn-block">検索</button>
        </div>
    </div>
</form>