<div class="row">
    <div class="col-xs-3 col-xs-offset-1">
        <h1 class="h1">検索画面</h1>
    </div>
</div>
<br>
<br>
<br>
<form action="search" methos="GET">
    <div class="row">
        <div class="col-xs-８ col-xs-offset-2">
            <div class="form-group">
                <label class="col-xs-2 control-label">備品名</label>
                <div class="form-inline">
                    <div class="col-xs-5 input-group">
                        <input type="text" id="name" name="itemName" class="form-control" value="{{ item_name }}" placeholder="例）mac book air">
                    </div>
                </div>
            </div>
            <br>
            <div class="col-xs-5 col-xs-offset-2">
                <button type="submit" class="btn btn-primary btn-block">検索</button>
            </div>
        </div>
    </div>
</form>